<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dotnet_newbie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dotnet_newbie.styles.css" asp-append-version="true" />
</head>

<body>
    <!-- Header -->
    <header class="header" id="header">
        <div class="header_img">
            <img src="" alt="">
        </div>
        @* <div class="log-out">
        <a href=""><i class='bx bx-log-out nav_icon'></i> </a>
        </div> *@
        <div class="dropdown rounded">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-user nav_icon'></i> Herzlia Barangan
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="d-flex justify-content-center">
                    <a class="dropdown-item" href=""><i class='bx bx-log-out nav_icon'></i> Logout</a>
                </li>

            </ul>
        </div>
    </header>



    <!-- Sidebar -->
    <nav id="sidebar">

        <div class="head">
            <h1>Sidebar.</h1>

        </div>

        <div class="sidebar-list">
            <a href="#">Employees</a>
            <a href="#">Department</a>
            <a href="#">Order</a>
            <a asp-controller="Users" asp-action="Index" >User</a>
            <a asp-controller="Roles" asp-action="Index" >Roles</a>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
