<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dotnet_newbie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dotnet_newbie.styles.css" asp-append-version="true" />
</head>

@* <body> *@


@if ((string)@ViewData["Title"] != "Login" && (string)@ViewData["Title"] != "News")
{

    <!-- Header -->
    <header class="nav">
        <div class="header_img">
            <img src="" alt="">
        </div>

        <div class="dropdown rounded">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-user nav_icon'></i> Herzlia Barangan
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="d-flex justify-content-center">
                    <a class="dropdown-item" href=""><i class='bx bx-log-out nav_icon'></i> Logout</a>
                </li>

            </ul>
        </div>
    </header>

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="head">
            <h1>Sidebar.</h1>
        </div>
        <div class="sidebar-list">
            <a href="#">
                <div class="d-flex align-items-center">
                    <i class='bx bx-chart nav_icon mx-2'></i>Dashboard
                </div>
            </a>
            <a href="#">
                <div class="d-flex align-items-center">
                    <i class='bx bx-search nav_icon mx-2'></i>Employees
                </div>
            </a>
            <a href="#">
                <div class="d-flex align-items-center">
                    <i class='bx bx-home nav_icon mx-2'></i>Department
                </div>
            </a>
            <a href="#">
                <div class="d-flex align-items-center">
                    <i class='bx bx-cart nav_icon mx-2'></i>Order
                </div>
            </a>
            <a asp-controller="Users" asp-action="Index">
                <div class="d-flex align-items-center">
                    <i class='bx bx-user nav_icon mx-2'></i>User
                </div>
            </a>
            <a asp-controller="Roles" asp-action="Index">
                <div class="d-flex align-items-center">
                    <i class='bx bx-box nav_icon mx-2'></i>Roles
                </div>
            </a>
        </div>
    </nav>

}




@RenderBody()




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@* </body> *@

</html>
