@{
    ViewData["Title"] = "Home Page";
}
<div class="container m-2 p-4 bg-white rounded-3">

    <div class="mt-2 text-center ">
        <h1 class="">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
